@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --background-color: #070707;
}

body {
    background-color: var(--background-color);
    margin: 0px;

    overflow: hidden;
}

h1 {
    color: orange;
    font-family: "Poppins";
    font-weight: 800;
    font-size: 8vmin;
    margin: 0px;

    animation: header_in 0.8s ease 0.6s backwards;
}

h3 {
    color: #AAAAAA;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 2vmin;

    animation: header_in 0.8s ease 0.8s backwards;

    margin: 0px;
}

h5 {
    color: #777;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1.5vmin;

    animation: header_in 0.8s ease 1s backwards;

    margin: 0px;
}


a {
    color: #94A;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 3vmin;

    margin: 0px;
    margin-top: 10vmin;

    text-decoration: underline;


    animation: header_in 0.8s ease 2s backwards;
}

.wrapper {
    margin: auto;
    display: flex;

    flex-flow: column;

    justify-content: center;
    align-items: center;

    margin-top: 10vh;


    
}

.tape {
    height: 100px;
    background: repeating-linear-gradient(45deg, orange 50px, orange 100px, black 100px, black 150px);
    border: 5px orange solid;

    animation: tape_in 0.8s ease backwards;
}




@keyframes tape_in {
    from {
        width: 0vw;
        border-right: 100px brown solid;
    }

    40% {
        border-right: 100px brown solid;
    }

    to {
        width: 100vw;
    }
}
@keyframes header_in {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}